table {
  width: 70%;
  margin: 50px auto;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.image-cell {
  text-align: center;
  padding: 20px;
}

img {
  width: 30%;
  border-radius: 10px;
}
