body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff8e1;
}

header {
  /* background: linear-gradient(90deg, #b40680, #ff086b); */
  color: rgb(219, 12, 146);
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 40px;
}

.box {
  height: 20rem;
  width: 18rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  background: white;
  transition: 0.3s;
}

.box:hover {
  transform: scale(1.05);
}

.box img {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  margin-top: 10px;
  object-fit: cover;
}

.box p {
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}
